# dependencies
node_modules

# logs
npm-debug.log

# Nuxt build
.nuxt

# Nuxt generate
dist

# Will be putting bank details in this folder
# Only keep the sample csv in version control
data/*
!data/transactions.dist.csv
!data/data.dist.json

*.code-workspace